.fa-twitter:hover {
    color: yellow;
}

.fa-twitter {
    color: white;
}




.fa-discord:hover {
    color: yellow;
}

.fa-discord {
    color: white;
}


.fa-telegram:hover {
    color: yellow;
}

.fa-telegram {
    color: white;
}






